*{
    margin: 0;
    padding: 0;

    font-family:sans-serif ;
}

.description{
    margin-top: 20px;
}
 /* header start  */
header{
    background-color: rgb(247, 234, 229);
    padding: 50px 200px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 2.8rem;
}
nav > ul {
  display: flex;
     
}

nav li {
    list-style: none;
    margin-right: 20px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    font-size: 1.4rem;
    color: rgb(19, 20, 20);
}
nav li a:hover{
    color: rgb(10, 82, 160);
}

/* banner  */
.banner{
    margin-top: 50px;
}
.banner-text{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 3rem;
    font-weight: 700;
}
.btn-primary{
    padding:15px 30px;
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    color: aliceblue;
    margin-top: 20px;
    cursor: pointer;
}

.banner-img{
    width: 100%;
    margin-top: 20px;
}



/* end  */

/* main  */
main {
    max-width: 1440px;
    margin: 70px auto;
    width: 70%;
}
.fueture-section{
    display: flex;
    align-items: center;
    /* padding: 0 200px; */
}

.team-4img{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}
.fueture-text{
    padding-left: 30px;
   
  
}
.team-4img img{
 width: 100%;

}

.feuture-title{
    font-weight: 700;
   
}
.feuture-title .feuture-quicklist{
    font-size: 2rem;
    color: darkgray;
}

.feuture-title .feuture-ofour {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.description{
   color: darkgrey;
}
.feuture-title .feuture-feutur{
    font-size: 2rem;
    color:orange ;
}

/* fact section  */

.fact-section{
    margin-top: 50px;
}
.fact-title{
    font-size: 2.8rem;
    
}

.fact-icon{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 50px;
}

.icon{
    border: 1px solid orangered;
    padding:30px;
    text-align: center;
    padding-bottom: 20px;
    border-radius: 10px;
   
}
.icon img{
    margin-bottom: 20px;
}






/* love & enjoy  */

.love-enjoy{
    display: flex;
    margin-top: 100px;
    gap: 50px;
 
   
}

.head-title{
    border-left: 5px solid orange;
    padding-left: 10px;
}

.love-head .love-title{
    border-radius: 8px;
    background-color:rgba(218, 218, 218, 0.877);
    box-shadow: 0px 4px 30px 0px rgba (0,0,0,0,06);
    padding: 20px;
    margin-bottom: 30px;
}
.love-title{
    margin-top: 20px;
}
.love-img img{
    width: 400px;
    height: 680px;
    margin-left: 60px;
}

.ten-years{
    border: 1px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    color: aliceblue;
    width: 150px;
    position: relative;
    bottom: 50px;
   
}

.ten-years h2{
     font-size: 2rem;
}



/* our-sponser  */

.our-spons{
    text-align: center;
    margin-top: 50px;
}

.sponser-logo{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
 
}

.logo img{
    width: 100%;
 
}





  /* footer  */

footer{
    text-align: center;
    background-color: black;
}
.description-footer{
    color: white;
}


/* responsive  */
/* mobile phone responsive */

@media screen and (max-width:576px) {

    header{
        padding: 20px;
   
       }
   
       nav,
       
       .fact-icon,
       .sponser-logo,
       .love-enjoy {
           flex-direction: column;
       
       }
       nav li{
           margin: 20px 10px;
           
       }

       .description{
        padding: 10px;
    }


    .fueture-section{
        flex-direction: column;

        padding: 0 10px;
    }
 
    .fueture-text
    {
        text-align: center;
        margin-top: 20px;
    }


    .team-4img{
        grid-template-columns: repeat(1,1fr);
    }
    .icon{
        margin-top: 20px;
       
    }
    .our-spons{
        margin-top: 200px;
    }
    .sponser-logo{
        margin-top: 50px;
       padding-left: 75px;
    
    }
    .logo img{
       width: 60%;
       margin-top: 30px;

    }
    .love-img img{
        width: 100%;
        height: 100%;
        margin-left: 0;
       
      
       
       
    }


    .ten-years{
    position: static;
    margin-top: 20px;
    margin-left: 45px;
    padding: 10px 20px ;
       
       
    }

    footer .description-footer{
        margin-top: 150px;
    }
 
}


  /* medium device  */

  @media screen and (min-width:576px) and (max-width:992px) {



    header{
        padding: 30px;
   
       }
    nav,
    .fact-icon,
    .sponser-logo,
    .love-enjoy
    {
        flex-direction: column;
    }
    nav li{
        margin: 20px 10px;
        
    }

    .fueture-section{
        flex-direction: column;

        padding: 0 10px;
    }
 
    .fueture-text{
        text-align: center;
        margin-top: 20px;
    }
    .description{
        padding: 10px;
    }

    .icon{
        margin-top: 20px;
    }
    .our-spons{
        margin-top: 200px;
    }

    .sponser-logo{
        margin-top: 50px;
       padding-left: 200px;
    
    }
    .logo img{
       width: 50%;
       margin-top: 30px;

    }

    .love-img img{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .ten-years{
        position: static;
        margin-top: 20px;
        padding: 10px 20px;
        margin-left: 200px;
       
           
     }

    footer .description-footer{
        margin-top: 150px;
    }
 

  }